body{
	text-align: center;
}
span{
	font-size: 14px;
	color:red;
}
table{
	width£º200px;
	margin: 350px auto 0px auto;
	text-align: center;
}
a{
	text-decoration: none;
	color:blue;
	font-size: 14px;
}
a:hover{
	text-decoration: none;
	color:red;
}